# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
*node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem
*.csv

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*

# AI
.prompts
*claude*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# DB Migrations
/prisma/migrations

# Output
*.pdf
.aider*
latest_backup_data_only.sql
latest_backup.sql
backup.dump
*.txt
*.csv

# Python
.venv/
prisma/app/*
pv_new.js
lc_new.js
utils.js
lc.js
pv.js
utils.js
pv_new.js
r3_mobileapp*
CLAUDE.md
.claude-trace/*
scripts.js
scripts/test-jarvis-connection.js
.gitignore
scripts/test-frontend-streaming.js
scripts/debug-jarvis-connection.js
