@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: 0 0% 100%;
		--foreground: 222.2 84% 4.9%;
		--card: 0 0% 100%;
		--card-foreground: 222.2 84% 4.9%;
		--popover: 0 0% 100%;
		--popover-foreground: 222.2 84% 4.9%;
		--primary: 221.2 83.2% 53.3%;
		--primary-foreground: 210 40% 98%;
		--secondary: 210 40% 96.1%;
		--secondary-foreground: 222.2 47.4% 11.2%;
		--muted: 210 40% 96.1%;
		--muted-foreground: 215.4 16.3% 46.9%;
		--accent: 210 40% 96.1%;
		--accent-foreground: 222.2 47.4% 11.2%;
		--destructive: 0 84.2% 60.2%;
		--destructive-foreground: 210 40% 98%;
		--border: 214.3 31.8% 91.4%;
		--input: 214.3 31.8% 91.4%;
		--ring: 221.2 83.2% 53.3%;
		--radius: 0.5rem;
	}

	.dark {
		--background: 222.2 84% 4.9%;
		--foreground: 210 40% 98%;
		--card: 222.2 84% 4.9%;
		--card-foreground: 210 40% 98%;
		--popover: 222.2 84% 4.9%;
		--popover-foreground: 210 40% 98%;
		--primary: 217.2 91.2% 59.8%;
		--primary-foreground: 222.2 47.4% 11.2%;
		--secondary: 217.2 32.6% 17.5%;
		--secondary-foreground: 210 40% 98%;
		--muted: 217.2 32.6% 17.5%;
		--muted-foreground: 215 20.2% 65.1%;
		--accent: 217.2 32.6% 17.5%;
		--accent-foreground: 210 40% 98%;
		--destructive: 0 62.8% 30.6%;
		--destructive-foreground: 210 40% 98%;
		--border: 217.2 32.6% 17.5%;
		--input: 217.2 32.6% 17.5%;
		--ring: 224.3 76.3% 48%;
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-gray-300 text-black;
	}
	.dark body {
		@apply bg-gray-900 text-white;
	}
}
/* styles/globals.css */
body,
html {
	margin: 0;
	padding: 0;
	font-family: Poppins, Arial, sans-serif;
	height: 100%;
}
.container {
	max-width: 1200px;
}

.grid {
	display: grid;
}

.grid-cols-1 {
	grid-template-columns: repeat(1, minmax(0, 1fr));
}

.sm\:grid-cols-2 {
	@media (min-width: 640px) {
		grid-template-columns: repeat(2, minmax(0, 1fr));
	}
}

.lg\:grid-cols-4 {
	@media (min-width: 1024px) {
		grid-template-columns: repeat(4, minmax(0, 1fr));
	}
}

.flex {
	display: flex;
}

.h-screen {
	height: 100vh;
}

.w-64 {
	width: 16rem;
}

.bg-gray-800 {
	background-color: #2d3748;
}

.bg-gray-900 {
	background-color: #1a202c;
}

.text-white {
	color: white;
}

.p-4 {
	padding: 1rem;
}

.overflow-auto {
	overflow: auto;
}

.bg-gray-100 {
	background-color: #cfd2d4;
}

.relative {
	overflow: visible !important;
}

@media (min-width: 1024px) {
	.main-content {
		display: flex;
		flex-direction: column;
		height: 100vh;
		padding-left: 18rem;
	}
}
@media (max-width: 1023px) {
	.main-content {
		display: flex;
		flex-direction: column;
		height: 100vh;
		padding-left: 0;
	}
}
.FormLabel[data-invalid] {
	color: red;
}
.FormLabel[data-valid] {
	color: green;
}

:root,
.light,
.light-theme,
.radix-themes {
	--color-background: #dedede;
}

.dark,
.dark-theme {
	--blue-1: #0c111c;
	--blue-2: #111725;
	--blue-3: #172448;
	--blue-4: #1d2e61;
	--blue-5: #243974;
	--blue-6: #2d4484;
	--blue-7: #375098;
	--blue-8: #405eb2;
	--blue-9: #3d63dd;
	--blue-10: #3f5cb0;
	--blue-11: #93b4ff;
	--blue-12: #d5e2ff;

	--blue-a1: #0012fb0c;
	--blue-a2: #1156f916;
	--blue-a3: #2b64ff3b;
	--blue-a4: #3567ff56;
	--blue-a5: #3f71fd6b;
	--blue-a6: #4b7afd7c;
	--blue-a7: #5480ff91;
	--blue-a8: #5783ffad;
	--blue-a9: #4571ffdb;
	--blue-a10: #5580feab;
	--blue-a11: #93b4ff;
	--blue-a12: #d5e2ff;

	--blue-contrast: #fff;
	--blue-surface: #111d3980;
	--blue-indicator: #3d63dd;
	--blue-track: #3d63dd;
}
